#define td(name, tap, dance)                \
  td_##name: td_##name {                    \
    compatible = "zmk,behavior-tap-dance";  \
    label = "TAP_DANCE_##name";             \
    #binding-cells = <0>;                   \
    tapping-term-ms = <200>;                \
    bindings = <tap>, <dance>;              \
};

behaviors {
    td(U_UE, &kp U, &kp DE_UE)
    td(I_PIPE, &kp I, &kp LA(N7))
    td(O_OE, &kp O, &kp DE_OE)
};