/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "config.dtsi"

#define td(name, tap, dance)                \
  td_##name: td_##name {                     \
    compatible = "zmk,behavior-tap-dance";  \
    label = "TAP_DANCE_##name";             \
    #binding-cells = <0>;                   \
    tapping-term-ms = <200>;                \
    bindings = <tap>, <dance>;              \
};

/ {
/*
    #include "behaviors.dtsi"
    #include "macros.dtsi"
    #include "combos.dtsi"
*/
    behaviors {
        td(U_UE, &kp U, &kp DE_UE)
    }

    keymap {
        compatible = "zmk,keymap";

        #include "layer_default.dtsi"
        /*
        #include "layer_fn.dtsi"
        #include "layer_num.dtsi"
        */
    };
};
